{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
        <p style="font-weight: bold"> Place new orders for {{ customer.name }}</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{ form }}
                        <br>
                    {% endfor %}
                    <input type="submit" name="Submit">
                </form>
            </form>
        </div>
    </div>
</div>

{% endblock %}